/* basics to start*/
body {
  margin: 0;
  padding: 0;
  line-height: 1.43;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #484848;
}

p {
  font-size: 16px;
}

a:link {
  font-size: 16px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a:visited {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

::selection {
  color: #fff;
  background-color: #333;
}

::-moz-selection {
  color: #fff;
  background-color: #333;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* css de la navbar */

.top-nav {
  position: fixed;
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
}

.logo:link {
  color: #484848;
  display: inline-block;
}
.logo:visited {
  color: #484848;
}
/* .logo:hover {
  background-color: #ccc;
} */
.logo img {
  padding: 0px 57px;
  width: 100px;
}

/*  nav bar */
.top-nav ul {
  float: right;
  text-align: center;
}
.top-nav ul li a:link {
  color: #484848;
  font-size: 14px;
  margin: 0 22px;
}
.top-nav ul li {
  display: inline-block;
  margin: 0 30px;
  color: #222222;
  z-index: 1 !important;
  font-size: 14px !important;
  font-weight: 600 !important;
  font-family: inherit;
  text-decoration: none;
  position: relative;
}
.top-nav ul li a:visited {
  color: #484848;
}
.btn-log {
  -webkit-box-align: center !important;
  background: transparent !important;
  border: 1px solid transparent !important;
  cursor: pointer;
  display: inline-flex !important;
  line-height: 18px !important;
  margin: 0px !important;
  outline: none !important;
  overflow: visible !important;
  padding: 0 16px !important;
  text-align: inherit !important;
  align-items: center;
  border-radius: 21px !important;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
  border-color: #ebebeb !important;
  background-color: #ffffff;
  color: #222222;
  height: 42px;
  transition: box-shadow 0.2s ease !important;
  vertical-align: middle !important;
  white-space: nowrap;
}
/* .nav-btn {
  margin-top: -1px !important;
  position: relative !important;
  z-index: 1 !important;
} */


/* partie login*/
h1{
	text-align: center;
}
body{
	text-align: center;
background: url(images.jpg) no-repeat center bottom;
background-size: cover;
background-attachment: fixed;
}


#clic,#Homme,#Femme,#Foot,#Handball,#Basket{
	cursor: pointer;
}

.fond{
	background-color: white;
    margin-left: 35%;
    margin-right: 35%;
    margin-bottom:-20%;
    border-style: groove;
}
#Nom #Prénom{
	margin-left: 100%;
	margin-right: 100%;
}
*{
	font-family: cursive;
}
/**/

/**/

label {
  display: block;
  font: .9rem 'Fira Sans', sans-serif;
}

input[type='submit'],
label {
  margin-top: 1rem;
}
/**/


.dropbtn {
 
  
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10%;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 10%;
}

.dropdown-content a{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 10%;
}

.dropdown-content a:hover {
  background-color: #f1f1f1}

.dropdown:hover .dropdown-content{
  border-radius: 10%;
  display: block;
}

.dropdown:hover .dropbtn {
  border-radius: 10%;
  background-color: grey;
}

/**/

.button {        /* avec ceci nous avons la forme des boutons*/ 
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: #f1f1f1;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}


.button:hover {background-color: #484848} /*Permet d'avoir la couleur au moment ou la souris passe sur le bouton*/ 

.button:active { /*permet d'avoir la couleur du bouton qui est activé après le clic de la souris*/ 
background-color: #999;
box-shadow: 0 5px #666;
transform: translateY(4px);

}

/**/

