/* css basics to start */

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #484848;
  line-height: 1.43;
  /* overflow-x: hidden; */
}

p {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

a:link {
  font-size: 16px;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

a:visited {
  text-decoration: none;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style-type: none;
}

::selection {
  color: #fff;
  background-color: #484848;
}

::moz-selection {
  color: #fff;
  background-color: #484848;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* top nav css */
.top-nav {
  /* position: fixed; */
  width: 100%;
  height: auto;
  border-bottom: 1px solid #ccc;
}

.logo:link {
  position: relative;
  color: #333;
  display: inline-block;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3 ease;
  -moz-transition: all 0.3 ease;
  -o-transition: all 0.3 ease;
}

.logo:visited {
  color: #484848;
}

.logo:hover {
  background-color: #f1f1f1;
  transition: all 0.3s ease;
}
.logo img {
  position: relative;
  padding: 13px 18px;
  width: 100px;
  border-right: 1px solid #ccc;
  vertical-align: middle;
}

/* Nav-search CSS */

#airbnb-search {
  width: 490px;
  height: 100%;
  display: inline-block;
}

#airbnb-search form input {
  padding: 22px 10px 18px 52px;
  width: 100%;
  border: none;
  outline: none;
  color: #666;
  font-size: 15px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#airbnb-search form input::-webkit-input-placeholder {
  color: #666;
  font-size: 15px;
}

#airbnb-search form input::-moz-placeholder {
  color: #666;
  font-size: 15px;
}
#airbnb-search form input:-ms-input-placeholder {
  color: #666;
  font-size: 15px;
}
#airbnb-search form input:-moz-placeholder {
  color: #666;
  font-size: 15px;
}

/* nav items */

.top-nav ul {
  float: right;
  padding: 14px 0;
}

.top-nav ul li {
  display: inline-block;
  margin: 0 30px;
}

.top-nav ul li a:link {
  color: #484848;
  font-size: 14px;
}

.top-nav ul li a:visited {
  color: #484848;
}

/* btn sign up */
.btn-sign {
  -webkit-box-align: center !important;
  background: transparent !important;
  border: 1px solid transparent !important;
  cursor: pointer;
  display: inline-flex !important;
  line-height: 18px !important;
  margin: 0px !important;
  outline: none !important;
  overflow: visible !important;
  padding: 0 16px !important;
  text-align: inherit !important;
  align-items: center;
  border-radius: 21px !important;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.18);
  border-color: #ebebeb !important;
  background-color: #ffffff;
  color: #222222;
  height: 42px;
  transition: box-shadow 0.2s ease !important;
  vertical-align: middle !important;
  white-space: nowrap;
}

.btn-sign:hover {
  box-shadow: 0px 0px 4px 4px rgba(242, 241, 239, 1);
}
/* end of sign up button */
/* slide */
#slide-wrapper {
  position: absolute;
  width: 400%;
  height: 72vh;
  /* background-color: lightblue; */
  background: url("../img/slidefirst.jpg") no-repeat fixed center;
  background-position: center;
  background-size: 100%;
}
.slide-arrow {
  width: 50px;
  height: 50px;
  margin: 0 15px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  margin-top: -24px;
}
/* form */
div {
  display: block;
}
form {
  display: block;
  margin-top: 0em;
}
.fielditems {
  border: 0px !important;
  margin: 0px !important;
  padding: 32px 0 16px !important;
}
fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  min-inline-size: min-content;
}
.Home {
  display: inline-block !important;
  margin-right: 24px !important;
  padding-bottom: 7px !important;
  position: relative !important;
}

label {
  line-height: normal;
}
.home-input:checked {
  border-color: #222222 !important;
}
.home-input {
  outline: none !important;
  -webkit-appearance: none !important;
  border: 0px !important;
  border-radius: 0px !important;
  margin: 0px !important;
  border-bottom: 2px solid transparent !important;
  position: absolute !important;
  width: 100% !important;
  left: 0px !important;
  bottom: 0px !important;
  height: 0px;
}

.home-title {
  font-size: 16px !important;
  line-height: 20px !important;
  color: #222222;
}
.tabading {
  background-color: #ffffff !important;
  border: 1px solid #f7f7f7 !important;
  border-radius: 12px !important;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08) !important;
  color: #222222;
  display: flex !important;
  position: relative !important;
  width: 100% important;
}
.tabitems {
  flex: 1 0 auto !important;
  display: flex !important;
}
.adress-section {
  flex: 1 0 0% !important;
}
.adress-main {
  margin: -1px !important;
  position: relative !important;
}
.labeladress {
  cursor: pointer !important;
  display: block !important;
  position: relative !important;
  transition: border-color 0.2s ease !important;
  border-radius: 12px !important;
  padding: 16px 22px !important;
}
.adm {
  position: relative !important;
  z-index: 1 !important;
}
.adtitle {
  font-size: 10px !important;
  line-height: 12px !important;
  font-weight: 800 !important;
  letter-spacing: 0.04em !important;
  text-transform: uppercase !important;
  padding-bottom: 4px !important;
}
.adsearch {
  display: block !important;
  border: 0px !important;
  margin: 0px !important;
  padding: 0px !important;
  width: 100% !important;
  background: none !important;
  font-size: 14px !important;
  line-height: 14px !important;
  font-weight: 600 !important;
  color: #222222 !important;
  text-overflow: ellipsis !important;
}

.adstyle {
  border: 0px !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(100%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}
